@font-face {
	font-family: 'seven-segment';
	src: url('seven-segment.ttf') format('truetype');
	font-display: swap;
}

body {
	display: block;
	background-color: black;
}

.led-display {
	display: flex;
	width: 100%;
	max-height: 600px;
	aspect-ratio: 10 / 1;
	justify-content: center;
	text-align: center;
	
	user-select: none;
	background-color: #051405;
	border: 4px solid gray;
}

.led-display p {
	font-family: 'seven-segment', monospace;
	color: green;
	font-size: 10vw;
	letter-spacing: 2px;
	margin: 0;
}

.audio-only-player iframe {
	width: 200px;
	height: 112px;
}
